@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,600&display=swap');


#dropdown-menu {
    display: flex;
    justify-content: center;

}
#all-news-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
#articles {
    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;

    width: 90%;
    outline: solid black 2px;
}

#home-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#region-selection {
    background-color: white;
}

#headline-header {
    font-family: Shantell sans;
    font-size: 46px;
}