img {
    width: 80%;
    height: 80%;
}

#mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* outline: solid black 2px; */
    margin: 0 auto;
    padding: 20px;
    max-width: 40%;

}